:root {
   --cor-primaria: #FF5722;
  --cor-hover: #F4511E;
  --cor-texto: #222222;
  --cor-texto2: #1A237E;
  --cor-fundo: #FAFAFA;
  --cor-secundaria: #212121;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: 'Roboto', sans-serif;
}
a,h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align:center;
}
p {
   color:blue;
}
#seta {
  font-size: 22px;
  margin: 0;
  padding: 10px;
  border: 2px solid  black;
  border-radius:10px;
}
#seta, #mudarcor {
  background-color: var(--cor-primaria);
  color:white;
}
#seta:hover, #mudarcor:hover {
  background: var(--cor-hover);
  transform:scale(1.02);
  transition: 0.3s ease-in-out;
}

#seta-container:hover #seta {
  background-color: var(--cor-primaria);
  color: var(--cor-fundo);
  cursor: pointer;
}
#mudarcor {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid  black;
}
#mudarcor:hover {
    transform:scale(1.02);
    transition: 0.3s ease-in-out;
}
#seta-container {
   text-decoration: none;
   position: absolute;
   top: 12px;
   left: 10px; 
}
p {
    font-size:20px;
    font-weight:500;
}
#mudarcor-container {
  position: absolute;
  top: 0.5px;
  right: 10px;
}
#contatos {
    display: flex; gap: 700px;
}
#texto {
  color:white;
}
main {
  background-color: var(--cor-primaria);
  border-radius: 15px;
  margin: 150px auto 0 auto;
  max-width: 1200px;
  padding: 25px 30px;
  border: 2px solid black;
  font-size: 16px;
  color: white;
  margin-bottom:200px;
  margin-top:200px;
}
@media (max-width:1100px) {
 #contatos {
  gap:400px;
 }
}
@media (max-width:1024px) {
    main {
      max-width:800px;
    }
    #contatos {
     gap:200px;
    }
}
@media (max-width:900px) {
  main {
    max-width:700px;
  }
  #contatos {
    gap:100px;
  }
}
@media (max-width:800px) {
  main {
    max-width:600px;
  }
  #contatos {
    gap:30px;
  }
}
@media (max-width:650px) {
  main {
    max-width:450px;
  }
  #contatos {
    gap:50px;
  }
}
@media (max-width:500px) {
  main{
    max-width:350px;
  }
  #contatos {
    display: flex;
  flex-direction: column; /* coloca em coluna */
  align-items: center; /* centraliza horizontalmente */
  gap: 10px; /* espaçamento entre os itens */
  }
}
@media (max-width:380px) {
  main {
    max-width:300px;
  }
}