body {
    background-color:linear-gradient(to bottom, #ffffff, #e8e8e8);
    font:normal 20px Arial;
}
#seta-container {
   text-decoration: none;

}

#seta {
    text-decoration:none;
    color:black;
    background-color:lightslategray;
    max-width:80px;
    border-radius:10px;
    font-size:30px;
    padding:10px;
    top:1px;
    border: 2px solid  black;
}
#texto {

}
p {
    font-size:20px;
}
#mudarcor-container {
  position: absolute;
  top:8px;
  right: 10px;
  
}
#mudarcor {
  background: lightslategray;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid  black;
  color:black; 
  
}
#contatos {
    display: flex; gap: 170px;
    
}
main {
    background-color:lightslategray;
    border-radius:15px;
    margin-left:30%;
    margin-top:100px;
    max-width:800px;
    padding: 20px;
    border: 2px solid  black;
    font-size:15px;
}
@media (max-width: 768px) {
    main {
        margin-left:15%;
        width:100px;
    }
}
@media (max-width:1024px) {
    main {
        margin-left:24%;
        width:500px;
    }
}